*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body,
#root{
  height: 100%;
  width: 100%;
}

.create-post{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  
}
.create-post form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.create-post form input,
.create-post form textarea
{
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.create-post form button{
  padding: 10px;
  font-size: 15px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}
.create-post form button:hover{
  background-color: #0056b3;
}

.feed{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #f0f0f0;
}
.feed img{
  width: 300px;
  height: 200px;
  object-position: center;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.feed img:hover{
  transform: scale(1.05);
}

.feed p{
  font-size: 18px;
  color: #333;
}

.feed posts{
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: wrap;
}

